.App {
display: flex;
align-items: center;
justify-content: center;
}
h1 {
font-size: 6.5rem;
}
.Buttons {
display: flex;
padding: 3rem;
justify-content: space-around;
margin-left: auto;
}
.Buttons > button {
font-size: 1.5rem;
margin: 2rem;
width: 10rem;
margin-right: auto;
}